@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans-regular.woff2?#iefix') format('woff2'), url('fonts/opensans-regular.woff') format('woff'), url('fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather';
  src: url('fonts/merriweather-bold.woff2?#iefix') format('woff2'), url('fonts/merriweather-bold.woff') format('woff'), url('fonts/merriweather-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'calendas';
  src: url('fonts/calendas.woff2?#iefix') format('woff2'), url('fonts/calendas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
