@import "config";
@import "fonts";
@import "blockquote";
@import "buttons";
@import "grid";

/* Base */

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}
body {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $font-stack;
  color: $base-color;
  background-color: $base-background;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "swsh", "liga", "dlig";
  font-feature-settings: "swsh", "liga", "dlig";
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
}
h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-size: calc(1.4em + 4.5vw);
  font-family: $font-stack-alternate;
  font-weight: normal;
  color: $base-color;
  line-height: 1.3;
}
h2 {
  margin-top: 0;
  font-family: $font-stack-alternate;
  .template & {
    text-shadow: 0 1px 0 #fff;
  }
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: ($tiny + 1)) {
  .fl {
    float: left;
    margin-right: 1rem;
  }
  .fr {
    float: right;
    margin-left: 1rem;
  }
}

// Global sections

section,
header,
footer {
  padding: 2rem 5%;
  @media (min-width: ($small + 1)) {
    padding: 3rem 10%;
    background-image: url(noisy-texture.png);
  }
  @media (min-width: ($medium + 1)) {
    padding: 3rem 16%;
  }
}
.inner {
  margin: 4rem 0 0;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.schnapsum {
  background-color: $quote-background;
}

[type="button"] {
  border: 0;
  align-self: center;
  margin-bottom: 0;
  margin-left: 1rem;
  position: relative;
  top: 1px;
}
.template {
  background-color: $template-background;
}
footer {
  padding-bottom: $large-value;
  position: relative;
  background-color: $footer-background;
  color: $base-color-alternate;
}
footer::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: $medium-value;
  border-bottom: 1px dashed rgba(255, 255, 255, .25);
}

.pre-title {
  display: flex;
  margin: 0 0 3rem;
  font-size: 1.8rem;
  font-family: $font-stack-alternate;
  color: $color4;
  opacity: .7;
}
.pre-title::before,
.pre-title::after {
  display: block;
  content: "";
  flex: 1;
  align-self: center;
  border-bottom: 1px dotted CurrentColor;
}
.pre-title::before {
  margin-right: .3em
}
.pre-title::after {
  margin-left: .3em
}

/* header */
@media (min-width: ($small + 1)) {
  header {
    background-image: url(marteau.png), url(outils.png), url(noisy-texture.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 4% 120%, 98% 80%, center;
  }
}

/* box */
.box {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, .3);
}

/* grid */
.hagrid {
  margin-bottom: $medium-value;
  // @include grid( 3, 2rem );
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $small + 1) {
    flex-wrap: nowrap;
  }
  & > * {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    &:nth-child(2) {
      justify-content: center;
    }
  }
  & .hero {
    flex: 1 1 0%;
    padding: .5rem;
    margin: 1rem;
  }
  & [type="checkbox"] {
    margin-right: .5rem;
    min-width: 1em;
  }
  & label {
    margin-top: 0;
  }
}

.mygrid {
  margin-bottom: $medium-value;
  padding: 0;
  position: relative;
  @include grid( 4, 1.5rem );

  & img {
    margin-bottom: $small-value
  }
}
input.visually-hidden {
  bottom: 0;
}

/* hero input */
.hero {
  border: 0;
  padding: .5rem;
  background: rgba(255,255,255,.3);
}

.template-item {
  position: relative;
  display: block;
  padding: 2rem 1.5rem;
  margin-bottom: 1.5rem;
  background: rgba(255, 255, 255, .3);
  text-align: center;
  text-decoration: none;
  transition: .15s;
  transition-property: transform;

  &:active {
    transform: scale(.8);
  }
  &:focus {
    outline: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 3px solid rgba(255,255,255,0);
    opacity: .5;
    transition: .2s;
  }
}
input:checked + .template-item::before {
    top: -6px; left: -6px; bottom: -6px; right: -6px;
    border-color: $color3;
  }
.template-item span {
  display: block;
  font-size: .8em;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-download {
  width: 14rem;
  height: 14rem;
  fill: $color6;
}

/*
 *
 * Mockup place
 *
 */

[id="result"] {
  width: 100%;
  font-size: 1.5rem;
  color: $color1;
}

[id="mockup-place"] {
  font-size: 1.4rem;

  .edit {
    cursor: pointer;
    position: relative;
  }

  .picked { background-color: #EA3852; }

  .choice label{
    margin: 0.4em 0.4em;
    padding: 0.4em;
    background-color: white;

    &:hover{
      background-color: #EA3852;
      color: white;
    }
  }

  .reg {
    color: white;

    &:hover { color: #EA3852; }
  }

  header { background: #ddd; }
  footer {
    color: $color1;
    background: #ddd;

    &:after { content: none; }
  }

  ul { background: #bbb; }
  li, & [class*="grid"] > * { background: #ccc; }

  main { background: #eee; }
  aside { background: #aaa; }
}

.choices {
  display: none;
  font-size: 0.85em;
  padding: 10px;
  background: rgba(155, 155, 155, 0.9);
  position: absolute;
  z-index: 2;
  min-width: 200px;

  .suppression {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: white
  }

  .quit {
    font-family: 'icomoon';
    cursor: pointer;
    float: right;
    margin: 0 0.4em
  }

  span {
    color: white;
    display: block;
    margin: 10px 0
  }

  label {
    margin: 0.4em 0.4em;
    padding: 0.4em;
    background-color: white;
    color: #3a3a3a;
    display: inline-block;

    &.selected {
      background-color: #EA3852;
      color: white
    }
  }

}
